<div ng-hide="currentUser.authenticated" >
    Please log in to see content
</div>
<div ng-show="currentUser.authenticated">
    <div class="row title">
        <h1 class="page-header">
            Dashboard <small>Statistics Overview</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-road fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{absolutes.longestFlight}}min</div>
                            <div>Longest flight</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{absolutes.maxDepDelay}}min</div>
                            <div>Largest departure delay</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-clock-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{absolutes.maxArrDelay}}min</div>
                            <div>Largest arrival delay</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-plane fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{absolutes.longestDistance}}mi</div>
                            <div>Longest distance flight</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 chart-div">
            <h4 class="chart-title">Departures</h4>
            <!--<h6 class="chart-title">Avg departure delay vs arrival delay (in min)</h6>-->
            <canvas id="departures-delay" class="chart chart-doughnut" data="departuresDelayData.data"
                    labels="departuresDelayData.labels" legend="true"></canvas>
        </div>
        <div class="col-md-4 chart-div">
            <h4 class="chart-title">Arrivals</h4>
            <!--<h6 class="chart-title">Avg delays by companies (top 5)</h6>-->
            <canvas id="arrivals-delay" class="chart chart-doughnut" data="arrivalsDelayData.data"
                    labels="arrivalsDelayData.labels" legend="true"></canvas>
        </div>
        <div class="col-md-4 chart-div">
            <h4 class="chart-title">Delay types</h4>
            <!--<h6 class="chart-title">Avg departure delay vs arrival delay (in min)</h6>-->
            <canvas id="pie2" class="chart chart-pie" data="delayTypes.data"
                    labels="delayTypes.labels" legend="true"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <h2>Delays</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Departure</th>
                        <th>Arrival</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Late</td>
                        <td>{{departuresDelayData.data[0]}} %</td>
                        <td>{{arrivalsDelayData.data[0]}} %</td>
                    </tr>
                    <tr>
                        <td>On time</td>
                        <td>{{departuresDelayData.data[1]}} %</td>
                        <td>{{arrivalsDelayData.data[1]}} %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-5 col-md-offset-1">
            <h2>Delays by cause</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Cause</th>
                        <th> % </th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in tableTypes">
                    <tr>
                        <td>{{item.title}}</td>
                        <td>{{item.value}} %</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
